@inherits LayoutComponentBase


<NavMenu />
<main class="w-full">
    <div class="w-full flex flex-wrap">
        <!-- Replace with your content -->
            @Body
        <!-- /End replace -->
    </div>
</main>


