@inherits LayoutComponentBase


<NavMenu />
<main class="w-full bg-gray-700">
    <div class="w-9/12 flex flex-wrap m-auto">
        <!-- Replace with your content -->
            @Body
        <!-- /End replace -->
    </div>
</main>


