@page "/movie"
@namespace MpStream.Pages.Members
@if (MovieList == null)
{

}
else
{
    @foreach (var item in MovieList)
    {
    <div class="w-full md:w-1/3 lg:w-1/6 p-2">
        <a href="/movie/view/@item.Id" class="flex flex-col relative w-full bg-white overflow-hidden card translate-3d-none-after relative w-full bg-white overflow-hidden card translate-3d-none-after border hover:border-gray-300">
            <img class="object-cover h-72" src="@item.PosterImage" />
            <div class="text-center font-medium">@item.Title</div>
        </a>
    </div>
    }
}


