@namespace MpStream.Pages.Member.Movies

<div class="w-11/12 mx-auto pt-4">
    <HotMovies MovieList="MovieList"/>
    <MovieBySound MovieSoundList="SoundLists"/>
    <MovieByYear YearLists="YearLists"/>
</div>
