@namespace MpStream.Pages.Member.Movies

<div class="w-12/12 mx-auto">
    <HotMovies MovieList="MovieList"/>
    <MovieBySound MovieSoundList="SoundLists"/>
    <MovieByYear YearLists="YearLists"/>
</div>
