@namespace MpStream.Pages.Member.Movies

<div class="w-11/12 bg-movieTitleBar rounded mt-10">
    <div class="px-4 py-4 border-b-2 border-movieBorderColor">ความคิดเห็น</div>
    <div class="p-4">
        <div class="fb-comments" data-href="https://tailwindcss.com/@MovieEntity.Id" data-width="" data-numposts="5"></div>
    </div>
</div>
