@namespace MpStream.Pages.Member.Movies

<div class="w-11/12 bg-movieTitleBar rounded-xl pb-10">
    <div class="flex mt-40 px-4 py-4 border-b-2 border-movieBorderColor">
        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path></svg>
        <h2>Streaming</h2>
    </div>
    <div class="w-12/12 h-96">
        <iframe class="w-full h-full h-96" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
</div>
