@page "/tvshow/"
@namespace MpStream.Pages.Members


<div class="w-10/12 mx-auto">
    <div class="w-9/12 flex flex-wrap">
        @if (TvShowList == null)
        {

        }
        else
        {
            @foreach (var eachShow in TvShowList)
            {
                <div class="w-full md:w-1/3 lg:w-1/5 p-2">
                    <a href="/tvshow/view/@eachShow.Id" class="flex flex-col relative w-full bg-white overflow-hidden card translate-3d-none-after relative w-full bg-white overflow-hidden card translate-3d-none-after rounded border border-gray-300">
                        <img class="object-cover" src="@eachShow.PosterImage" />
                        <div class="text-center font-medium">@eachShow.Title</div>
                    </a>
                </div>
            }
        }
    </div>
    <div class="w-3/12">

    </div>
</div>
