@namespace MpStream.Shared

<div class="w-full h-36 bg-headerColor">
    <div class="w-10/12 mx-auto flex justify-between">
        <Logo/>
        <div class="pt-10">
            <HeaderSearch/>
        </div>
    </div>
</div>