@page "/admin/movie/add"


<EditForm Model="MovieEntity" OnValidSubmit="SaveMovie">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="px-6 py-8">
        <a href="/admin/movie" class="border border-gray-500 bg-gray-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-gray-600 focus:outline-none focus:shadow-outline">กลับ</a>
        <div class="flex justify-between container mx-auto mt-5">
            <div class="w-full lg:w-8/12">
                <div class="bg-white shadow-lg p-5">
                    <div class="mb-5">
                        <label for="firstname" class="font-weight-normal mb-1 text-gray-700 block">ชื่อเรื่อง</label>
                        <InputText @bind-Value="MovieEntity.Title" class="w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-weight-normal mb-1 text-gray-700 h-32">เรื่องย่อ</label>
                        <InputTextArea @bind-Value="MovieEntity.Title" class="w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputTextArea>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-weight-normal mb-1 text-gray-700 block">ตัวเล่น</label>
                        <InputTextArea @bind-Value="MovieEntity.Player" class="w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputTextArea>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-weight-normal mb-1 text-gray-700 block">เสียง</label>
                        <InputText @bind-Value="MovieEntity.Sound" class="w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mb-5">
                        <label for="firstname" class="font-bold mb-1 text-gray-700 block">ป้าย</label>
                        <InputText @bind-Value="MovieEntity.Tag" class="w-full px-4 py-3 rounded shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                    </div>
                    <div class="mt-5">
                        <button type="submit" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline" value="Save">Save</button>
                    </div>
                </div>
            </div>
            <div class="-mx-8 w-4/12 hidden lg:block">
                <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Poster Image:</div>
                <div class="bg-white shadow-lg rounded">
                    <div class="p-3">
                        <div class="mb-5 text-center">
                            <div class="mx-auto w-32 h-32 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
                                <img id="image" class="object-cover w-full h-32 rounded-full" :src="image" />
                            </div>

                            <label for="fileInput"
                                   type="button"
                                   class="cursor-pointer inine-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                                <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                                    <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2" />
                                    <circle cx="12" cy="13" r="3" />
                                </svg>
                                Browse Photo
                            </label>

                            <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add profile picture</div>

                            <input name="photo" id="fileInput" accept="image/*" class="hidden" type="file" @change="let file = document.getElementById('fileInput').files[0];
                                   var reader=new FileReader();
                                   reader.onload=(e) => image = e.target.result; reader.readAsDataURL(file);">

                        </div>
                    </div>
                </div>
                <div class="bg-white shadow-lg mt-5 rounded">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">Category:</div>
                    <div class="mr-3 ml-3 pl-3 pr-3 bg-gray-100 overflow-auto h-32">
                        @foreach (var genre in this.MovieGenres)
                        {
                            <input type="checkbox" @onchange="eventArgs => { CheckboxClicked(genre.Id.ToString(), eventArgs.Value); }" /> @genre.Name<br />
                        }
                    </div>
                </div>
                <div class="mt-5 bg-white shadow-lg">
                    <div class="font-weight-light w-full bg-blue-800 text-white py-2 px-3">IMDB Id:</div>
                    <div class="p-3">
                        <InputText @bind-Value="this.ImdbId" class="w-full px-3 py-2 rounded-lg shadow-sm focus:outline-none focus:shadow-outline text-gray-600 font-medium border border-solid border-gray-200"></InputText>
                        <div class="mt-3"></div>
                        <div @onclick="() => FetchImdbApi(this.ImdbId)" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">Fatch Data</div>
                        <p class="text-gray-500">กรุณาใส่ไอดีจากเว็บ Imdb ที่นี้</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>


