
@inherits LayoutComponentBase

    <Header/>
    <div class="w-full h-13 bg-NavColor border-b-2 border-yellow-800">
        <div class="w-10/12 mx-auto">
            <ul class="flex p-2">
                <NavLink @onclick="ChangeMenu" class="mr-2 transition duration-500 ease-in-out bg-bodyBgColor hover:bg-NavColor hover:text-yellow-800 rounded p-2 px-7 text-white text-sm font-medium flex justify-between" href="" Match="NavLinkMatch.All">
                    <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    <p class="text-md">หน้าหลัก</p>
                </NavLink>
                <NavLink @onclick="ChangeMenu" class="mr-2 transition duration-500 ease-in-out bg-bodyBgColor hover:bg-NavColor hover:text-yellow-800 rounded p-2 px-7 text-white text-sm font-medium flex justify-between" href="movie">
                    <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z"></path></svg>
                    <p class="text-md">หนังออนไลน์</p>
                </NavLink>
                <NavLink @onclick="ChangeMenu" class="mr-2 transition duration-500 ease-in-out bg-bodyBgColor hover:bg-NavColor hover:text-yellow-800 rounded p-2 px-7 text-white text-sm font-medium flex justify-between" href="tvshow">
                    <svg class="w-5 h-5 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path></svg>
                    <p class="text-md">ซีรีย์ออนไลน์</p>
                </NavLink>
                <NavLink @onclick="() => ShowCategory(categoryShow)" class="mr-2 transition duration-500 ease-in-out bg-bodyBgColor hover:bg-NavColor hover:text-yellow-800 rounded p-2 px-7 text-white text-sm font-medium flex justify-between">
                    <p class="text-md">ประเภท</p>
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                </NavLink>
                <NavLink @onclick="ChangeMenu" class="mr-2 transition duration-500 ease-in-out bg-bodyBgColor hover:bg-NavColor hover:text-yellow-800 rounded p-2 px-7 text-white text-sm font-medium flex justify-between" href="movies/bookmarks">
                    <svg class="w-5 h-5 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z"></path></svg>
                    <p class="text-md">บุ๊คมาร์ค</p>
                </NavLink>
            </ul>
        </div>
    </div>
    <div class="bg-CategoryBgColor text-CategoryTextColor">
        <div class="w-full overflow-auto ease-in-out transition-all duration-1000 z-30 overflow-hidden transform @(categoryShow? "translate-y-0 h-64 " : "-translate-x-full h-0")">
            <div class="w-10/12 mx-auto">
                <div class="flex pt-6">
                    <div class="w-4/12">
                        <div class="flex">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm3 2h6v4H7V5zm8 8v2h1v-2h-1zm-2-2H7v4h6v-4zm2 0h1V9h-1v2zm1-4V5h-1v2h1zM5 5v2H4V5h1zm0 4H4v2h1V9zm-1 4h1v2H4v-2z" clip-rule="evenodd"></path></svg>
                            <div class="text-base mb-2">ประเภทภาพยนตน์</div>
                        </div>
                    </div>
                    <div class="w-5/12">
                        <div class="flex">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd"></path></svg>
                            <div class="text-base mb-2">ประเภทซีรีย์</div>
                        </div>
                    </div>
                    <div class="w-3/12">
                        <div class="text-base mb-2">
                            แนะนำ
                        </div>
                    </div>
                </div>
                <div class="flex">
                    <div class="w-4/12">
                        <div class="grid grid-flow-col grid-cols-3 grid-rows-6 border-solid border-l-2 border-yellow-200 p-2">
                            @if (MovieGenreEntities != null)
                            {
                                @foreach (var eachMovieGenre in MovieGenreEntities)
                                {
                                    <a @onclick="ChangeMenu" href="/movie/category/@eachMovieGenre.Name.Replace(" ", "-").ToLower()" class="hover:bg-gray-100 mr-3">@eachMovieGenre.Name</a>
                                }
                            }
                        </div>
                    </div>
                    <div class="w-5/12">
                        <div class="grid grid-flow-col grid-cols-3 grid-rows-6 border-solid border-l-2 border-yellow-200 p-2">
                            @if (TvShowGenreEntities != null)
                            {
                                @foreach (var eachTvshowWGenre in TvShowGenreEntities)
                                {
                                    <a @onclick="ChangeMenu" href="/tvshow/category/@eachTvshowWGenre.Name.Replace(" ", "-").ToLower()" class="mr-3">@eachTvshowWGenre.Name</a>
                                }
                            }
                        </div>
                    </div>
                    <div class="w-3/12">แนะนำ</div>
                </div>
            </div>
        </div>
    </div>


    <!--
      Mobile menu, toggle classes based on menu state.

      Menu open: "block", Menu closed: "hidden"
    -->
    <div class="hidden sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">Dashboard</a>
            <NavLink class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" href="movie">Home</NavLink>
        </div>
    </div>
