@page "/admin/moviegenre"


<a href="/admin/moviegenre/add" class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">เพิ่มประเภท</a>
<table class="w-full text-md bg-white shadow-md rounded mb-4">
    <tbody>
        <tr class="border-b">
            <th class="text-left p-3 px-5">Check</th>
            <th class="text-left p-3 px-5">Title</th>
            <th></th>
        </tr>
        @foreach (var eachGenre in GenreList)
        {
            <tr class="border-b hover:bg-orange-100 bg-gray-100">
                <td class="p-3 px-1"><input type="checkbox" /></td>
                <td class="p-3 px-5">@eachGenre.Name</td>
                <td>
                    <Button @onclick="() => Edit(eachGenre.Id)" class="bg-green-800 text-white p-2 px-3 hover:bg-green-600">แก้ไข</Button>
                    <Button @onclick="() => Remove(eachGenre.Id)" class="bg-red-800 text-white p-2 px-3 hover:bg-red-600">ลบ</Button>
                </td>
            </tr>
        }
    </tbody>
</table>
